{% load static %}
<div class="modal" id="add-proxyapp-to-portal-modal" style="z-index:2000;" tabindex="-1" role="dialog" aria-labelledby="add-proxyapp-to-portal-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-proxyapp-to-portal-modal-label">Create a proxy app for the tethys portal</h5>
            </div>
            <div class="modal-body" id="add-app-container">
                <div>
                    <p>
                        The following form can be used to create a Tethys proxy app. Proxy apps are links to external 
                        web applications or websites. They are represented in the App Library page with an app tile 
                        just like native Tethys Apps.
                    </p>
                    <p> 
                        After submitting the form, the page will reload automatically to add the new proxy app to the
                        tables
                    </p>
                </div>
                <div class="form-group">
                    <label for="proxyAppName">Proxy App Name*</label>
                    <input type="text" class="form-control" id="proxyAppName" placeholder="Proxy App Name">
                </div>
                <div id="proxyAppName_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-warning text-white proxyApp_failMessage">A name of the proxy app must be provided</div>
                <br>
                <div class="form-group">
                    <label for="proxyEndpoint">Proxy Endpoint*</label>
                    <input type="text" class="form-control" id="proxyEndpoint" placeholder="https://myproxyapp.com">
                </div>
                <div id="proxyEndpoint_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-warning text-white proxyApp_failMessage">A endpoint for the proxy app must be provided</div>
                <br>
                <div class="form-group">
                    <label for="proxyDescription">Proxy App Description</label>
                    <input type="text" class="form-control" id="proxyDescription" placeholder="This is a proxy app">
                </div>
                <br>
                <div class="form-group">
                    <label for="proxyLogo">Proxy App Logo URL</label>
                    <input type="text" class="form-control" id="proxyLogo" placeholder="https://the-logo-of-myproxy-app.png">
                </div>
                <br>
                <div class="form-group">
                    <label for="proxyTags">Proxy App Tags</label>
                    <div class="tags-input">
                        <input type="text" class="form-control" id="proxyTags" placeholder="tag">
                        <ul id="proxyTagList"></ul>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" value="" id="proxyEnabled" checked>
                    <label class="form-check-label" for="proxyEnabled">Allow non-admin user access</label>
                </div>
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" value="" id="proxyShown" checked>
                    <label class="form-check-label" for="proxyShown">Add proxy app to apps library</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" style="margin-top:10px;" data-bs-dismiss="modal" aria-hidden="true"> Cancel </button>
                <button class="btn btn-success pull-right" style="margin-top:10px;" onClick="createProxyApp()"> Create Proxy App </button>
            </div>
        </div>
    </div>
</div>

