{% load static %}
<div class="modal" id="submit-proxyapp-to-store-modal" style="z-index:2000;" tabindex="-1" role="dialog" aria-labelledby="submit-proxyapp-to-store-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submit-proxyapp-to-store-modal-label">Submit the <span id="submitProxyAppName"></span> Proxy App to the Tethys App Store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="add-app-container">
                <div>
                    <p> Fill out the form to submit a proxy app to the Tethys App Store</p>
                    <p> Please enter an email address which will be notified once the build is complete and your application is available on the Tethys App Store</p>
                </div>
                 <div class="form-group">
                    <label for="proxyapp_notifEmail">Notification Email</label>
                    <input type="text" class="form-control notifEmail" id="proxyapp_notifEmail" placeholder="Email Address to notify on build">
                </div>
                <div id="proxyapp_notifEmail_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-warning text-white proxyapp_failMessage">A email for notifications must be provided</div>
                <br>
                <div id="proxyapp_github_app_name_warningMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-warning text-white proxyapp_warningMessage"></div>
                <input type="checkbox" style="display:none" id="proxyapp_overwriteApp">
                <div id="proxyapp_availableStores">
                    <p class="title-class">Available Stores</p>
                    
                    <div id="proxyapp_channel_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-warning text-white proxyapp_failMessage">At least one channel must be selected</div>
                    {% for store in storesData %}
                        <div class="row_store_submission">
                            <div class="dropdown-check-list-channels">
                                <ul class="items">
                                    <li><input type="checkbox" class="conda-channel-list-item" id="proxyapp_{{ store.conda_channel }}_channel"  name="{{ store.conda_channel }}" value="{{ store.conda_channel }}" {% if store.default %}checked{% endif %}>
                                        <label class="conda-channel-list-item-label" for="proxyapp_{{ store.conda_channel }}_channel">
                                            <div class="loader_and_title">
                                                <div id="proxyapp_{{ store.conda_channel }}-spinner" class="spinner-border spinner-border-sm text-info" style="display:none;" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <p class="label-anaconda">{{ store.conda_channel }}</p>
                                            </div>
                                            <span class="conda-channel-list-item-custom-checkbox"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div id="proxyapp_{{ store.conda_channel }}_labels" class="dropdown-check-list-labels {% if store.default is not True %}d-none{% endif %}" tabindex="100">
                                <div>
                                    <span>Please select the labels to use:</span>
                                    <span class="anchor" onclick("anchor_dropdown(event)")>Labels</span>
                                </div>
                                <ul class="items">
                                {% for conda_label in store.conda_labels %}
                                    <li>
                                        <input class="conda-label-list-item" id="proxyapp_{{ store.conda_channel }}_{{ conda_label.label_name }}_checkbox" type="checkbox" value='{{ conda_label.label_name }}' {% if conda_label.active %}checked{% endif %}/>
                                        <label class="conda-label-list-item-label" id="proxyapp_{{ store.conda_channel }}_{{ conda_label.label_name }}_label" for="proxyapp_{{ store.conda_channel }}_{{ conda_label.label_name }}_checkbox">
                                            <span>{{ conda_label.label_name }}</span>
                                            <span class="conda-label-list-item-custom-checkbox"></span>
                                        </label>
                                    </li>
                                {% endfor %}
                                </ul>
                                <div id="proxyapp_{{ store.conda_channel }}_label_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-warning text-white label_failMessage">At least one label must be selected for an active store</div>
                            </div>
                            <div id="proxyapp_{{ store.conda_channel }}_branchesList"></div>
                            <div>
                                <div id="proxyapp_{{ store.conda_channel }}_successMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-success text-white">
                                    <p>Your Proxy Application has been successfully queued for processing.You will be notified via email when you application is available on the Tethys App Store. <span id="proxyapp_{{ store.conda_channel }}_SuccessLinkMessage">Click <span id="proxyapp_{{ store.conda_channel }}_addSuccessLink">here</span> to follow the processing logs and inspect it for errors.</span></p>
                                </div>
                                <div id="proxyapp_{{ store.conda_channel }}_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-info text-white proxyapp_failMessage"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
                <div id="proxyapp_{{ store.conda_channel }}_failMessage" style="display:none;margin-top:10px;" class="p-3 mb-2 bg-info text-white proxyapp_failMessage"></div>
            </div>
            <div class="modal-footer">
                <div id="submitProxyAppLoaderText" class="loaderText"></div>
                <div id="submitProxyAppLoaderEllipsis" class="lds-ellipsis pull-right">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="btn btn-danger pull-left" style="margin-top:10px;" data-bs-dismiss="modal" aria-hidden="true" id="proxyappSubmitCancel"> Cancel </button>
                <button class="btn btn-primary pull-right" style="margin-top:10px;" aria-hidden="true" id="submitProxyApp"> Submit <span id="submitProxyAppName"></span> </button>
                <button class="btn btn-success pull-right" style="margin-top:10px;display:none;" data-bs-dismiss="modal" aria-hidden="true" id="proxyappSubmitDone"> Done </button>
            </div>
        </div>
    </div>
</div>

